.cast-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  max-width: 1013px;
  margin: 25px auto 110px auto;

  list-style-type: none;

  border: 1px solid rgb(0 0 0 / 40%);
  border-radius: 25px;
  padding-top: 25px;
}
.cast-list img {
  width: 135px;
}

.actor-name {
  font-weight: 500;
}
.actor {
  width: 150px;
}
.actor p {
  text-align: center;
}
.actor-character {
  font-style: italic;
  font-weight: 800;
}
