p {
  font-family: Roboto;
  font-weight: 300;
}

.movie-container {
  display: flex;
  gap: 20px;
}

.film-bold {
  font-weight: 500;
}
.film-title {
  font-size: 22px;
  font-weight: 600;
}

p:nth-child(2),
.overview {
  margin-bottom: 0;
}
.popularity,
.overview-desc {
  max-width: 500px;
  font-style: italic;
  font-weight: 600;
}
