p {
  font-family: Roboto;
  font-weight: 300;
}

.movie-container {
  display: flex;
  gap: 20px;
}
.movie-container img {
  border: 10px solid black;
  box-shadow: 0px 0px 28px 4px rgb(0 0 0 / 75%);
}
.text-container {
  border-left: 3px solid gray;
  padding-left: 15px;
}

.film-bold {
  font-weight: 500;
}
.film-title {
  font-size: 22px;
  font-weight: 600;
}

p:nth-child(2),
.overview {
  margin-bottom: 0;
}
.popularity,
.overview-desc {
  max-width: 500px;
  font-style: italic;
  font-weight: 600;
}
